<!DOCTYPE html>
<!--http://www.html5rocks.com/en/mobile/touch/-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />


<html ng-app="knowtPadApp" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Knowt Pad</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="description" content="knowtshare: collaborative modeling " />
    <meta name="author" content="Apprentice Systems" />

    <meta name="application-name" content="knowtshare" />
    <meta name="msapplication-TileColor" content="#a63fa6" />
    <meta name="msapplication-square70x70logo" content="images/KnowtShareBadge.png" />
    <meta name="msapplication-square150x150logo" content="images/KnowtShareLogo.png" />
    <meta name="msapplication-wide310x150logo" content="images/KnowtShareWideLogo.png" />
    <meta name="msapplication-square310x310logo" content="images/KnowtShareWideLogo.png" />


    <link href="content/bootstrap.min.css" rel="stylesheet" />
    <link href="content/toastr.min.css" rel="stylesheet" />

    <link href="css/noteDiagram.css" rel="stylesheet" />



</head>


<body ng-cloak ng-controller="workSpace as space" style="overflow-y:hidden">

    <header id="appHeader" class="appHeader">
        <nav>
            <h1 class="label label-info " style="margin-left:10px">{{space.clientCount}}</h1>
            <span class="label label-success " ng-show="space.hasSessionKey">{{space.traffic}}</span>

            <img ng-click="space.updateAllViews()" id="knowtshareLogo" src="images\KnowtShareWideLogo.png" width="100" />
            <span style="margin-left:10px">:{{space.title}}</span>
            <span style="margin-left:1px"><em>:{{space.subTitle}}</em></span>

            <span class="label label-info " style="margin-left:10px">doc: {{space.documentName}}</span>
            <span class="label label-info " style="margin-left:1px">ext: {{space.documentExt}}</span>

             <span class="label label-success " style="margin-left:10px">doc title: {{space.documentTitle}}</span>
            <span class="label label-success " style="margin-left:1px">ses title: {{space.sessionTitle}}</span>
            <span class="label label-success " style="margin-left:1px">mode: {{space.clientMode}}</span>

            <span class="label label-warning " style="margin-left:10px">key: {{space.sessionKey}}</span>
            <span class="label label-warning " style="margin-left:1px">id: {{space.userId}}</span>
            <span class="label label-warning " style="margin-left:1px">name: {{space.userNickName}}</span>

            <span class="label label-success " style="margin-left:10px">saved: {{space.isDocumentSaved}}</span>
            <span class="label label-success " style="margin-left:1px">empty: {{space.isDocumentEmpty()}}</span>

            <span class="label label-danger " style="margin-left:10px">doc: {{space.activeDocument.documentName}}</span>
            <span class="label label-danger " style="margin-left:1px">ext: {{space.activeDocument.documentExt}}</span>
            <span class="label label-danger " style="margin-left:1px">title: {{space.activeDocument.documentTitle}}</span>

        </nav>

    </header>


    <section id="appContent" class="appContent">
        <article id="mainContent" class="mainContent" ng-controller="contentMenu as menu">
            <button class="btn btn-success" ng-click="menu.doAddNote">Add Note</button>
            <button class="btn btn-success" ng-click="menu.animals.doAddNote">Add Animal</button>
            <button class="btn btn-danger" ng-disabled="!menu.canDoDelete" ng-click="menu.doConfirmDelete">Delete Note</button>
            <button class="btn btn-info" ng-disabled="!menu.canOpenSelected" ng-click="menu.doOpenSelected">Edit Note</button>
            <button class="btn btn-warning" ng-disabled="!menu.canDoUnDo" ng-click="menu.doUnDo">Undo</button>
            <span>|</span>

            <button class="btn btn-default" ng-click="menu.doConfirmClear">Clear</button>
            <button class="btn btn-default" ng-click="space.inspect()">Inspect</button>
            <span>|</span>
            <span ng-controller="fileMenu as menu">
                <button class="btn btn-info" ng-click="menu.doNewDocument">New </button>
                <button class="btn btn-info" ng-click="menu.doOpenFilePicker">Open</button>
                <span>|</span>
                <button class="btn btn-info" ng-click="menu.doSaveFilePicker">Save</button>
                <button class="btn btn-info" ng-click="menu.doCloseDocument">Close</button>
                <span>|</span>
                <button class="btn btn-info" ng-click="menu.doSaveAsHTMLFilePicker">to Html</button>
                <button class="btn btn-info" ng-click="menu.doSaveAsPNGFilePicker">to Png</button>
            </span>
        </article>



        <article>


            <section class="left-side" ng-controller="noteTreeView as viewModel">
                <ul class="breadcrumb">
                    <li ng-repeat="crumb in viewModel.selectionPath">
                        <a class="btn btn-link " ng-click="viewModel.doPinAsRoot(crumb)">{{crumb.context ? crumb.context.headerText : crumb.myName}}</a>
                    </li>
                </ul>
                <div class="list-container">
                    <div id="textCanvas" class="textCanvas">
                        <ul>
                            <li ng-repeat="shape in viewModel.shapeElements" ng-include=" 'shapeTreeItem.html' "></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="right-side" ng-controller="noteCanvasView as viewModel">
                <ul class="breadcrumb">
                    <li ng-repeat="page in viewModel.pages">
                        <a class="btn btn-link " ng-click="viewModel.doPinAsRoot(page)">{{page.context ? page.context.headerText : page.myName}}</a>
                    </li>
                </ul>
                <div class="details-container">
                    <canvas style="background-color:bisque" class="drawing-canvas" id="drawingCanvas" width="800" height="600"></canvas>
                </div>
            </section>
        </article>

        <article id="PIP" class="pictureInPicture">
            <canvas class="drawing-canvas" id="panZoomCanvas" width="10" height="10"></canvas>
        </article>



    </section>


    <footer id="appFooter" class="appFooter"></footer>



    <script src="Scripts/jquery-2.1.1.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-touch.js"></script>

    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="Scripts/toastr.min.js"></script>


    <script type="text/javascript" src="http://foundryjs.azurewebsites.net/bundles/EaselJS"></script>
    <script type="text/javascript" src="http://foundryjs.azurewebsites.net/Foundry/FoundryComplete.js"></script>

    <script type="text/javascript" src="Knowt/KnowtPadApp.js"></script>

    <script type="text/javascript" src="Knowt/KnowtViewStencil.js"></script>
    <script type="text/javascript" src="Knowt/KnowtViewStencilAnimals.js"></script>
    <script type="text/javascript" src="Knowt/KnowtViewMenuContent.js"></script>

    <!--can we also add an animal stencil-->
    <script type="text/javascript" src="Knowt/KnowtViewNgDialog.js"></script>
    <script ype="text/javascript" src="Knowt/KnowtViewKeyEvents.js"></script>
    <script type="text/javascript" src="Knowt/KnowtViewMenuFile.js"></script>
    <script type="text/javascript" src="Knowt/KnowtViewMenuPanZoom.js"></script>

    <script type="text/javascript" src="Knowt/KnowtViewNoteCanvasView.js"></script>
    <script type="text/javascript" src="Knowt/KnowtViewNoteTreeView.js"></script>
</body>
</html>
