<!DOCTYPE html>
<!--http://www.html5rocks.com/en/mobile/touch/-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />


<html ng-app="knowtTakerApp" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Knowt Taker</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="description" content="knowtshare: collaborative modeling " />
    <meta name="author" content="Apprentice Systems" />

    <meta name="application-name" content="knowtshare" />
    <meta name="msapplication-TileColor" content="#a63fa6" />
    <meta name="msapplication-square70x70logo" content="images/KnowtShareBadge.png" />
    <meta name="msapplication-square150x150logo" content="images/KnowtShareLogo.png" />
    <meta name="msapplication-wide310x150logo" content="images/KnowtShareWideLogo.png" />
    <meta name="msapplication-square310x310logo" content="images/KnowtShareWideLogo.png" />


    <link href="content/bootstrap.min.css" rel="stylesheet" />
    <link href="content/toastr.min.css" rel="stylesheet" />
    <!--<style>
        .isSelected {
            background-color: red;
            color:wheat;
        }
    </style>-->
    <style>
        .note-wrapper {
            position:relative;
            overflow-y:scroll;
            height:500px;
            left:10%;
            width: 85%;
        }
    </style>

 
</head>


<body ng-cloak ng-controller="workSpace as space" >

    <header id="appHeader" class="appHeader">
        <nav>
            <img id="knowtshareLogo" src="images\KnowtShareWideLogo.png" width="100" />
            <span style="margin-right:10px">{{space.title}}</span>
            <span style="margin-right:10px"><em>{{space.subTitle}}</em></span>
        </nav>
    </header>


    <section id="appContent" class="appContent">
        <article id="mainContent" class="mainContent">
            <button class="btn btn-success" ng-click="vm.doAddNote">Add Note</button>
            <button class="btn btn-danger" ng-disabled="!vm.canDoDelete" ng-click="vm.doConfirmDelete">Delete Note</button>
            <button class="btn btn-info" ng-disabled="!vm.canOpenSelected" ng-click="vm.doOpenSelected">Edit Note</button>
            <button class="btn btn-default" ng-click="vm.doSave">Save</button>
            <button class="btn btn-default" ng-click="vm.doConfirmClear">Clear</button>
            <button class="btn btn-default" ng-click="vm.doRestore">Restore</button>
            <button class="btn btn-default" ng-click="space.rootModel.doTest()">dialog test</button>
        </article>
        <h1>notes</h1>
        <div class="note-wrapper">
            <div ng-repeat="context in notes" ng-class="{isSelected: context.isSelected}" ng-click="markSelected(context)">
                <div ng-include=" 'noteTemplate.html' "></div>
            </div>
        </div>


        <br />
        <h1>workspace properties</h1>
        <span>user NickName</span><input ng-model="space.userNickName" />
        <div ng-repeat="prop in space.Properties.elements">
            <span><strong>{{prop.asReference()}}:</strong></span>  <span><em>{{prop.asDisplayValue()}}</em></span>
        </div>
    </section>


    <footer id="appFooter" class="appFooter"></footer>



    <script src="Scripts/jquery-2.1.1.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-touch.js"></script>

    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="Scripts/toastr.min.js"></script>


    <script type="text/javascript" src="http://foundryjs.azurewebsites.net/bundles/EaselJS"></script>
    <!--<script type="text/javascript" src="http://foundryjs.azurewebsites.net/Foundry/FoundryComplete.js"></script>-->
    <script type="text/javascript" src="Foundry/FoundryComplete.js"></script>
    <script src="Foundry/Foundry.canvas.page2D.js"></script>
    <script src="Foundry/Foundry.canvas.document.js"></script>
    <script src="Foundry/Foundry.canvas.panzoom.js"></script>

    <script type="text/javascript" src="Knowt/KnowtTakerApp.js"></script>
    <script type="text/javascript" src="Knowt/KnowtViewNgDialog.js"></script>

    
    <script type="text/javascript" src="Knowt/KnowtViewStencil.js"></script>
    <script type="text/javascript" src="Knowt/KnowtViewStencilAnimals.js"></script>

    <script type="text/javascript" src="Knowt/KnowtViewMenuContent.js"></script>


</body>
</html>
