
body {
    font-family: arial;
    font-size: 14px;
}

ul {
    list-style: none;
    /*list-style:circle;*/
}

li {
    margin-left: -6px;
}

/*http://css-tricks.com/a-couple-of-use-cases-for-calc/*/

.app-content {
    display: block;
    position: absolute;
    left: 103px;
    background-color: lawngreen;
    /*margin: 1px;*/
    width: calc(100% - 106px);
    height: calc(100% - 106px);
}

.main-content {
    position: absolute;
    /*border: 3px double blue;*/
    width: 100%;
    height: 100%;
}

.text-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.text-canvas {
    background-color: lemonchiffon;
    overflow-y: auto;
    height: 1000px;
    border: 1px dashed black;
}

.diagram-container {
    position: absolute;
    display: block;
    height: calc(100%);
    width: calc(100%);
}

.diagram-canvas {
    position: absolute;
    display: block;
    background-color: cornsilk;
    border: 1px ridge black;
}



.picture-in-picture {
    position: absolute;
    background-color: orange;
    left: 500px;
    top: 300px;
    border: 1px solid black;
}

.pan-zoom-canvas {
    display: block;
    background-color: cornsilk;
    margin: 4px;
}




.app-header {
    position: absolute;
    overflow-x: hidden;
}


.app-footer {
    position: absolute;
    overflow-x: hidden;
}




.vertical-menu {
    display: block;
    position: absolute;

    max-width: 100px;
    overflow-x: hidden;
    margin-left: 8px;
}

.horizontal-menu {
    margin-left: 8px;
    display: none;
    /*overflow-x:hidden; */
}

.vertical-menu-group {
    min-width: 95px;
    padding-bottom: 6px;
    padding-left: 1px;
    padding-right: 1px;
    background-color: blanchedalmond;
}
